---
---

@import 'vendors/normalize/normalize/import-now';

$font-size-base: 20px;
$brand-color-primary:   #800080 !default;
$brand-color-secondary: #3DBBA0 !default;
$font-family-primary: 'Helvetica', sans-serif;
$font-family-secondary: 'Helvetica', serif;
$font-weight-base: 200;
$font-weight-action: 300;

$input-border: $brand-color-primary;

// Global //========================================
@import 'global/settings';
@import 'mixins/mixins';
@import 'global/base';
@import 'global/typography';

// Utilities //========================================
@import 'utils/helpers';

// Theme //=======================================
@import 'theme';
