*{box-sizing: border-box;}
body {
  min-height: 100%;
  background: #FFFFFF;
}

.site-container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media (min-width: 800px) {
    width: 960px;
  }
}

.main {
  flex: 1;
}

.brand {
  margin: 20px 0 0;
  width: 240px;
  fill: $brand-color-primary;
}
h2 {
  margin-bottom: 5px;
}
p {
  font-family: $font-family-secondary;
}

.hero-title {
  font-weight: 400;
  line-height: 1.2;
  @media (min-width: 800px) {
    font-size: 57px;
  }
  > .-colorize {
    color: $brand-color-secondary;
  }
}

.icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  fill: none; // Using outline icons
  &.-primary {
      fill: $brand-color-primary;
  }
  &.-secondary {
      fill: $brand-color-secondary;
  }
  &.-default {
    fill: $brand-color-neutral;
  }
  &._mini {
    width: 16px;
    height: 16px;
  }
}


a {
  text-decoration: none;
}

.social-list {
  margin: 20px 0;
  @media (min-width: 800px) {
    text-align: center;
    a {
      margin: 5px 0;
      padding: 5px 0;
      display: block;
    }
  }
}

.row {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  @media (min-width: 800px) {
    flex-flow: row nowrap;
  }
}

.column {
  width: 100%;
  &.-eight {
    @media (min-width: 800px) {
      width: percentage(8/12);
    }
  }
  &.-four {
    @media (min-width: 800px) {
      width: percentage(4/12);
    }
  }
}

.footer {
  padding: 20px;
  background: #FFFFFF;
  color: scale_color($brand-color-neutral, $lightness: -40%);
  font-size: .8em;
  margin-top: 80px;
  .link {
    color: scale_color($brand-color-neutral, $lightness: -40%);
  }
}
